<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style2.css">
    <link rel="icon" href="/IMG/iconn.png">
</head>
<body id = "fundo1" class = "fonteid">
        <header class="header">
            <a href=http://localhost:3000> <img src="../IMG/batman.png" width="50" height="45"></a>
            <nav>
                <ul class="menu">
                    <li><a href=http://localhost:3000/cadastro>Criar </a></li>
                    <li><a href=http://localhost:3000>Menu</a></li>
                    <li><a href=http://localhost:3000/editar>Editar</a></li>
                </ul>
            </nav>
        </header>   
<section id = "center">
                <div class = "box">
                    <form action="/New" method="POST">
                        <legend><b>Adiconando um filme</b></legend>
                        <br>
                        <div class="inputC">
                            <p class= "question">Nome</p>
                            <label for="nome"></label class = "labelinput">
                            <input type="text" name="nome" id="input_nome" placeholder="Nome" required>
                        </div>
                        <br>
                        <div class="inputC">
                            <p class= "question">Genero</p>
   <label for="genero"></label>
    <select name="genero">  
         <option value="Animação ">Animação</option>
         <option value="Comédia">Comédia</option>
         <option value="Comédia Romântica">Comédia Romântica</option>
         <option value="Comédia Dramática">Comédia Dramática</option>
        <option value="Documentário">Documentário</option>
        <option value="Drama ">Drama</option>
        <option value="Faroeste ">Faroeste</option>
        <option value="Ficção Científica ">Ficção Científica</option>
        <option value="Musical"> Musical </option>
        <option value="Suspense ">Suspense</option>
        <option value="Terror / Horror  ">Terror / Horror</option>

    </select>
                        <br>
                         <br>
                        <div class="inputC">
                            <p class= "question">Imagem Url</p>
                            <label for="image"></label class = "labelinput">
                            <input type="url" name="image" id="input_image" placeholder="Imagem url" required>
                        </div>
                        <br>
                        <div class="inputC">
                            <p class= "question">Nome do autor</p>
                            <label for="autor"></label class = "labelinput">
                            <input type="text" name="autor" id="input_autor" placeholder="Autor do filme" required>
                        </div>
                        <br>
                        <div class="inputC">
                            <p class= "question">Ano de lancamento</p>
                            <label for="autor"></label>
                            <input type="date" name="ano" id="input_ano" placeholder="ano" required>
                        </div>
                        <br>
                        <button class="botao" type="submit">Adicionar</button>
                    </form>
                </div>
                </section>
</body>
</html>