<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/IMG/iconn.png">
</head>
<body id = "fundo">  
        <header class="header">
            <a href=http://localhost:3000> <img src="../public/img/iconS.png" width="50" height="50"></a>
            <nav>
                <ul class="menu">
                    <li><a href=http://localhost:3000>Menu</a></li>
                </ul>
            </nav>
        </header>

<h1>Deseja mesmo deletar esse filme?</h1>
<form method="post" action="deletar/<%=filme.id%>">
<button class="botao" type="submit" >Sim</button>
</form>
<a href=http://localhost:3000>Não</a>

</body>
</html>