<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
    <link rel="icon" href="/IMG/iconn.png">
    <link rel="stylesheet" href="../css/style2.css">
    <head>
        <header class="header">
            <a href=http://localhost:3000> <img src="/IMG/edita.gif" width="50" height="50"></a>
            <nav>
                <ul class="menu">
                    <li><a href=http://localhost:3000/cadastro>Criar </a></li>
                    <li><a href=http://localhost:3000>Menu</a></li>
                </ul>
            </nav>
        </header>
    <h1 >Informacoes do filme</h1>

<header class="centralize">
  
  <p class="fontZ">
    <%= filme.nome %>
  </p>
  <p>
    <% filme.genero %>
  </p>
   <img src=" <%=filme.imagem%>" alt="Filme" class="imag" height="300" width="250" class="img-file" alt = "<% filme.nome %>">
<p>
  <% filme.autor %>
</p>
<p>
  <% filme.ano %>
</p>
<br>
</header>

  <div id = "center">
        <a href="/editar/<%=filme.id%>" class = "botao"><button>Editar</button></a>
        <a href="/deletar/<%=filme.id%>" class = "botao"><button>Excluir</button></a>
  </div>

</body>
</html>