<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalago</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/IMG/iconn.png">
</head>


<body id = "fundo">
<div class = "blackk">
<% if(message !="" ) { %>
    <section id="message">
        <p class = "blackk">
            <%= message %>
        </p> <span id="close">&times;</span>
    </section>
    <% } %>
</>
</div>

        <header class="header">
            <a href=http://localhost:3000> <img src="../IMG/icon.png" width="50" height="50"></a>
            <nav>
                <ul class="menu">
                    <li><a href=http://localhost:3000/cadastro>Criar </a></li>
                    <li><a href=http://localhost:3000>Menu</a></li>
                    <li><a href=http://localhost:3000/editar>Editar</a></li>
                </ul>
            </nav>
        </header>

    <h1>
        Catalago De filmes
    </h1>
<section class="flex">
    <div class="pot">
        <a href=http://localhost:3000/detalhes>
            <img src="https://a-static.mlcdn.com.br/1500x1500/dvd-capitao-america-o-primeiro-vingador-rimo/campinascomercio2/1678014411/6352bfcb6d963f1f0b3fd68f558e6bf2.jpg"
                alt="filme" class="imag">
        </a>
        <p>Capitão america o primeiro vingador</p>
    </div>
    <div class="pot">
        <a href=http://localhost:3000/detalhes>
            <img src="https://upload.wikimedia.org/wikipedia/pt/5/59/Captain_Marvel_%282018%29.jpg" alt="filme"
                class="imag">
        </a>
        <p>Capita marvel</p>

    </div>
    <div class="pot">
        <a href=http://localhost:3000/detalhes>
            <img src="https://img.elo7.com.br/product/zoom/2677188/big-poster-filme-iron-man-2008-lo01-tamanho-90x60-cm-vingadores.jpg"
                alt="Filme" class="imag">
        </a>
        <p>Homen de ferro</p>
    </div>
    <div class="pot">
        <a href=http://localhost:3000/detalhes>
            <img src="https://br.web.img2.acsta.net/c_310_420/pictures/210/485/21048566_20131010182211313.jpg"
                alt="Filme" class="imag">
        </a>
        <p>O incrivel hulk</p>
    </div>

</section>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>