<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalago</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/IMG/iconn.png">
</head>

<% if(message !="" ) { %>
    <section id="message">
        <p class="blackk">
            <%= message %>
        </p> <span id="close">&times;</span>
    </section>
    <% } %>
</>


<body id = "fundo">
<div class = "blackk">

</div>

        <header class="header">
            <a href=http://localhost:3000> <img src="../IMG/icon.png" width="50" height="50"></a>
            <nav>
                <ul class="menu">
                    <li><a href=http://localhost:3000/cadastro>Criar </a></li>
                    <li><a href=http://localhost:3000>Menu</a></li>
                    <li><a href=http://localhost:3000/editar>Editar</a></li>
                </ul>
            </nav>
        </header>

    <h1>
        Catalago De filmes
    </h1>
<section class="flex">
    <div class="pot">
                <% filme.forEach(item=> { %>
                    <a href=http://localhost:3000>
                        <h2>
                            <%= item.nome %>
                        </h2>
                            <img src=" <%=item.imagem%>" alt="Filme" class="imag">
                        </p>
                    </a>
                  <% }) %>
    </div>  
</section>
    <script type="text/javascript" src="js/script.js"></script>
</html>