body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
  color: rgb(20, 19, 19);
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.header {
  background-color: rgb(3, 1, 1);
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.menu {
  display: flex;
}
.menu li {
  margin-left: 20px;
}

.menu li a {
  display: block;
  padding: 5px;
  background-color: rgb(251, 255, 20);
  font-family: "Times New Roman", Times, serif;
}
body {
  background-image: url("../img/fundo2.0.jpg");
}

.box {
  color: white;
  text-align: center;
  position: absolute;
}

.question {
  color: white;
  font-family: "Times New Roman", Times, serif;
}
#center {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  margin-top: 5%;
}
